GMAIL_USER=you@gmail.com
GMAIL_APP_PASSWORD=xxxxxxxxxxxxxxxx
# Mailbox name; German accounts use "[Gmail]/Alle Nachrichten"
GMAIL_MAILBOX=[Gmail]/All Mail
# Set to 1 to also store the raw RFC822 message (large)
GMAIL_STORE_RAW=0
